In [1]:
import os

DATA_HOME = os.path.join("data", "financial-statement-extracts")

In [2]:
#From kaggle Kernel for Financial Dataset
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk(DATA_HOME):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

data/financial-statement-extracts/2016q2.json
data/financial-statement-extracts/._2015q4.json
data/financial-statement-extracts/2016q1.json
data/financial-statement-extracts/2016q3.json
data/financial-statement-extracts/2015q4.json
data/financial-statement-extracts/2016q4.json
data/financial-statement-extracts/._2016q4.json
data/financial-statement-extracts/._2015q3.json
data/financial-statement-extracts/._2016q2.json
data/financial-statement-extracts/._2016q3.json
data/financial-statement-extracts/labels.csv
data/financial-statement-extracts/2015q3.json
data/financial-statement-extracts/._manual.pdf
data/financial-statement-extracts/._2017q2.json
data/financial-statement-extracts/2017q1.json
data/financial-statement-extracts/._2016q1.json
data/financial-statement-extracts/._2017q1.json
data/financial-statement-extracts/2017q2.json
data/financial-statement-extracts/manual.pdf

In [3]:
import json
from io import StringIO

with open(os.path.join(DATA_HOME, '2016q1.json')) as json_file:
    data = json.load(json_file)

In [4]:
list(data.keys())

['num.txt', 'pre.txt', 'readme.htm', 'sub.txt', 'tag.txt']

In [5]:
df_sub = pd.read_csv(StringIO(data['sub.txt']),sep='\t')
print(df_sub.shape)
df_sub.head()

(6535, 36)

,adsh,cik,name,sic,countryba,stprba,cityba,zipba,bas1,bas2,...,period,fy,fp,filed,accepted,prevrpt,detail,instance,nciks,aciks
0,0000002178-16-000064,2178,"ADAMS RESOURCES & ENERGY, INC.",5172.0,US,TX,HOUSTON,77027,17 S. BRIAR HOLLOW LN.,NaN,...,20151231,2015.0,FY,20160311,2016-03-11 14:23:00.0,0,1,ae-20151231.xml,1,NaN
1,0000002488-16-000111,2488,ADVANCED MICRO DEVICES INC,3674.0,US,CA,SUNNYVALE,94088-3453,ONE AMD PL,MS 68,...,20151231,2015.0,FY,20160218,2016-02-18 16:20:00.0,0,1,amd-20151226.xml,1,NaN
2,0000003499-16-000034,3499,ALEXANDERS INC,6798.0,US,NJ,PARAMUS,07652,210 ROUTE 4 EAST,NaN,...,20151231,2015.0,FY,20160216,2016-02-16 08:25:00.0,0,1,alx-20151231.xml,1,NaN
3,0000003545-16-000130,3545,ALICO INC,100.0,US,FL,"FT. MYERS,",33913,10070 DANIELS INTERSTATE COURT STE. 100,NaN,...,20151231,2016.0,Q1,20160208,2016-02-08 16:33:00.0,0,1,alco-20151231.xml,1,NaN
4,0000003570-16-000284,3570,CHENIERE ENERGY INC,4924.0,US,TX,HOUSTON,77002,700 MILAM ST.,SUITE 1900,...,20151231,2015.0,FY,20160219,2016-02-18 18:10:00.0,0,1,lng-20151231.xml,1,NaN

In [6]:
df_tag = pd.read_csv(StringIO(data['tag.txt']),sep='\t')
print(df_tag.shape)
df_tag.head()

(85458, 9)

,tag,version,custom,abstract,datatype,iord,crdr,tlabel,doc
0,AccountsPayableCurrent,us-gaap/2014,0,0,monetary,I,C,"Accounts Payable, Current",Carrying value as of the balance sheet date of...
1,AccountsPayableRelatedPartiesCurrent,us-gaap/2014,0,0,monetary,I,C,"Accounts Payable, Related Parties, Current",Amount for accounts payable to related parties...
2,AccountsReceivableNetCurrent,us-gaap/2014,0,0,monetary,I,D,"Accounts Receivable, Net, Current","Amount due from customers or clients, within o..."
3,AccruedLiabilitiesCurrent,us-gaap/2014,0,0,monetary,I,C,"Accrued Liabilities, Current",Carrying value as of the balance sheet date of...
4,AccumulatedDepreciationDepletionAndAmortizatio...,us-gaap/2014,0,0,monetary,I,C,"Accumulated Depreciation, Depletion and Amorti...","Amount of accumulated depreciation, depletion ..."

In [7]:
df_num = pd.read_csv(StringIO(data['num.txt']),sep='\t')
print(df_num.shape)
df_num.head()

(3485997, 9)

,adsh,tag,version,coreg,ddate,qtrs,uom,value,footnote
0,0000003545-16-000130,AccountsPayableCurrent,us-gaap/2014,NaN,20150930,0,USD,4407000.0,NaN
1,0000003545-16-000130,AccountsPayableCurrent,us-gaap/2014,NaN,20151231,0,USD,3520000.0,NaN
2,0000004127-16-000044,AccountsPayableCurrent,us-gaap/2014,NaN,20150930,0,USD,291100000.0,NaN
3,0000004127-16-000044,AccountsPayableCurrent,us-gaap/2014,NaN,20151231,0,USD,191800000.0,NaN
4,0000004187-16-000034,AccountsPayableCurrent,us-gaap/2014,NaN,20141231,0,USD,2622000.0,NaN

In [8]:
df_pre = pd.read_csv(StringIO(data['pre.txt']),sep='\t')
print(df_pre.shape)
df_pre.head()

(1051814, 10)

,adsh,report,line,stmt,inpth,rfile,tag,version,plabel,negating
0,0000003545-16-000130,3,16,BS,0,H,AccountsPayableCurrent,us-gaap/2014,Accounts payable,0
1,0000004127-16-000044,4,17,BS,0,H,AccountsPayableCurrent,us-gaap/2014,Accounts payable,0
2,0000004187-16-000034,2,24,BS,0,H,AccountsPayableCurrent,us-gaap/2014,Accounts payable,0
3,0000006845-16-000034,2,19,BS,0,H,AccountsPayableCurrent,us-gaap/2014,Accounts payable,0
4,0000006955-16-000051,4,21,BS,0,H,AccountsPayableCurrent,us-gaap/2014,Trade accounts payable,0

In [9]:
gg = df_pre.values
gg[1500:1550]

array([['0001389050-16-000047', 2, 30, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001391609-16-000382', 2, 42, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001376474-16-000531', 2, 30, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001376474-16-000607', 2, 25, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001376474-16-000584', 2, 31, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014', 'Paid-in Capital', 0],
       ['0001378992-16-000057', 4, 28, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001380846-16-000029', 2, 32, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001385613-16-000118', 2, 33, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001386278-16-000079', 2, 45, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001366868-16-000113', 2, 41, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001357204-16-000070', 2, 38, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001355786-16-000014', 2, 34, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001350653-16-000046', 2, 28, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001350653-16-000048', 2, 28, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001255474-16-000024', 2, 38, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001273511-16-000148', 2, 26, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001273511-16-000160', 2, 16, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in-capital', 0],
       ['0001289308-16-000046', 2, 32, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001281761-16-000108', 2, 42, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001286043-16-000131', 2, 29, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid in capital and other', 0],
       ['0001301611-16-000015', 5, 40, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Capital in excess of par value', 0],
       ['0001302343-16-000290', 2, 34, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001304492-16-000034', 2, 26, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001303942-16-000088', 2, 29, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001316625-16-000026', 5, 34, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001315399-16-000007', 2, 34, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001327811-16-000032', 2, 36, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001334978-16-000019', 2, 48, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014', "Member's interest",
        0],
       ['0001334978-16-000018', 2, 43, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001347452-16-000087', 2, 37, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001347652-16-000016', 5, 44, 'EQ', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001347652-16-000016', 2, 27, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001193125-16-498418', 2, 31, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001193125-16-496738', 2, 33, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001193125-16-503491', 2, 47, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in-capital', 0],
       ['0001222840-16-000032', 2, 37, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001200375-16-000052', 2, 29, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001209286-16-000966', 2, 28, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid in capital', 0],
       ['0001193125-16-521609', 2, 35, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014', 'Paid-in capital', 0],
       ['0001193125-16-521583', 2, 35, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014', 'Paid-in capital', 0],
       ['0001193125-16-521436', 2, 35, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014', 'Paid-in capital', 0],
       ['0001193125-16-521419', 2, 34, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014', 'Paid-in capital', 0],
       ['0001193125-16-475914', 2, 46, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014', 'Capital surplus', 0],
       ['0001193125-16-485443', 2, 52, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014', 'Surplus', 0],
       ['0001193125-16-485560', 2, 43, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001193125-16-468116', 2, 36, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in-capital', 0],
       ['0001193125-16-469818', 2, 31, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001193125-16-459785', 4, 31, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001193125-16-453210', 2, 27, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid-in capital', 0],
       ['0001165527-16-000626', 2, 14, 'BS', 0, 'H',
        'AdditionalPaidInCapital', 'us-gaap/2014',
        'Additional paid in capital', 0]], dtype=object)

In [10]:
s=df_sub[df_sub['period']==20151231][['name', 'adsh']]

In [11]:
t=df_tag[['version', 'tag', 'tlabel']]

In [12]:
n=df_num[['adsh', 'tag', 'version', 'ddate', 'qtrs', 'uom', 'coreg']]

In [13]:
p=df_pre[['adsh', 'tag', 'version', 'report', 'line', 'stmt', 'plabel']]

In [17]:
df1 = t.merge(p, on=['tag', 'version'], how='inner')
df1

,version,tag,tlabel,adsh,report,line,stmt,plabel
0,us-gaap/2014,AccountsPayableCurrent,"Accounts Payable, Current",0000003545-16-000130,3,16,BS,Accounts payable
1,us-gaap/2014,AccountsPayableCurrent,"Accounts Payable, Current",0000004127-16-000044,4,17,BS,Accounts payable
2,us-gaap/2014,AccountsPayableCurrent,"Accounts Payable, Current",0000004187-16-000034,2,24,BS,Accounts payable
3,us-gaap/2014,AccountsPayableCurrent,"Accounts Payable, Current",0000006845-16-000034,2,19,BS,Accounts payable
4,us-gaap/2014,AccountsPayableCurrent,"Accounts Payable, Current",0000006955-16-000051,4,21,BS,Trade accounts payable
...,...,...,...,...,...,...,...,...
1051809,0001123360-16-000061,PaymentsForRepurchaseOfCommonStockForOtherThan...,Payments for Repurchase of Common Stock For Ot...,0001123360-16-000061,6,31,CF,Repurchase of common stock
1051810,0001123360-16-000061,PaymentsForRepurchaseOfCommonStockForShareBase...,Payments for Repurchase of Common Stock for Sh...,0001123360-16-000061,6,33,CF,Common stock repurchased - share-based compens...
1051811,0001123360-16-000061,PaymentsToAcquireBusinessesAndIntangibleAssets...,Payments To Acquire Businesses And Intangible ...,0001123360-16-000061,6,20,CF,"Business, intangible and other asset acquisiti..."
1051812,0001123360-16-000061,ProcessingSystemIntrusionExpense,Processing System Intrusion Expense,0001123360-16-000061,2,5,IS,Processing system intrusion
1051813,0001123360-16-000061,ProvisionForOperatingLossesAndDoubtfulAccounts,Provision For Operating Losses And Doubtful Ac...,0001123360-16-000061,6,7,CF,Provision for operating losses and bad debts

In [18]:
df = df1.merge(s, on=['adsh'], how='inner')[['adsh', 'name', 'line', 'stmt', 'tlabel', 'plabel']]
df

,adsh,name,line,stmt,tlabel,plabel
0,0000003545-16-000130,ALICO INC,16,BS,"Accounts Payable, Current",Accounts payable
1,0000003545-16-000130,ALICO INC,4,BS,"Accounts Receivable, Net, Current","Accounts receivable, net"
2,0000003545-16-000130,ALICO INC,17,BS,"Accrued Liabilities, Current",Accrued liabilities
3,0000003545-16-000130,ALICO INC,13,BS,Assets,Total assets
4,0000003545-16-000130,ALICO INC,1,BS,Assets [Abstract],ASSETS
...,...,...,...,...,...,...
896615,0001185185-16-003894,ISRAMCO INC,7,CF,Impairments of oil and gas assets and equipment,Impairment of oil and gas properties and equip...
896616,0001185185-16-003894,ISRAMCO INC,13,IS,Impairments of oil and gas assets and equipment,Impairments of oil and gas assets and equipment
896617,0001185185-16-003894,ISRAMCO INC,16,IS,Loss from plug and abandonment,Loss from plug and abandonment
896618,0001185185-16-003894,ISRAMCO INC,28,CF,Insurance proceeds from property casualty,Insurance proceeds from property casualty
896619,0001185185-16-003894,ISRAMCO INC,27,BS,Short term debt and current maturities of long...,Short term debt and current maturities of long...

In [19]:
df.to_csv(os.path.join(DATA_HOME, "labels.csv"))

In [21]:
df[df['name']=='ALPHABET INC.'].to_csv(os.path.join(DATA_HOME, "ALPHABET INC.csv"))

In [22]:
df[df['name']=='ZOETIS INC.'].to_csv(os.path.join(DATA_HOME, "ZOETIS INC.csv"))

In [25]:
df[df['name']=='AMERICAN EXPRESS CO'].to_csv(os.path.join(DATA_HOME, "AMERICAN EXPRESS CO.csv"))

In [27]:
df[df['name']=='SOUTHWEST AIRLINES CO'].to_csv(os.path.join(DATA_HOME, "SOUTHWEST AIRLINES CO.csv"))

In [34]:
def get_eval_raw_data():
    EVAL_DATA_HOME = os.path.join("data", "financial-statement-extracts")
    src_filenames = ['ALPHABET INC.csv', 'AMERICAN EXPRESS CO.csv', 'SOUTHWEST AIRLINES CO.csv', 'ZOETIS INC.csv']
    for src_filename in src_filenames:
        df = pd.read_csv(os.path.join(EVAL_DATA_HOME, src_filename))
        for _, row in df.iterrows():
            yield ((row['plabel'], row['tlabel']), 'e')

In [35]:
b = iter(get_eval_raw_data())
next(b)

(('Accounts payable', 'Accounts Payable, Current'), 'e')